%%
%% logs
{logdir, "/tmp/test/semantic/"}.

%%
%% suites
{suites, ".", all}.
{skip_suites,  ".", 
   [
   %    semantic_jsonld_SUITE
   % ,  semantic_ns_SUITE
   % ,  semantic_nt_SUITE
   % ,  semantic_typed_SUITE
   % ,  semantic_types_SUITE
   ], 
   "debug"
}.

%%  
%% code coverage
{cover,  "cover.spec"}.
