{erl_opts, []}.

{deps, [
   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }

  ,{datum, ".*",
      {git, "https://github.com/fogfish/datum", {branch, master}}
   }

  ,{hash, ".*",
      {git, "https://github.com/fogfish/hash", {branch, master}}
   }

  ,{hornlog, ".*",
      {git, "https://github.com/fogfish/hornlog", {branch, master}}
   }

  ,{jsx, ".*",
      {git, "https://github.com/talentdeficit/jsx", {branch, master}}
   }
]}.
