{erl_opts, []}.

{deps, [
   datum,
   jsx,

   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   },

   {uid, ".*",
      {git, "https://github.com/fogfish/uid", {branch, master}}
   },

   {hash, ".*",
      {git, "https://github.com/fogfish/hash", {branch, master}}
   }
]}.
